# Quickstart

In [1]:
import pandas as pd
from WMSDTransformer import WMSDTransformer

df = pd.read_csv("../data/students.csv", sep=';', index_col= 0)
students_transformer = WMSDTransformer("R") # Relative distance
students_transformer.fit_transform(df, expert_range=[[0,100],[1,6],[1,6]])

             Math    Bio    Art      Mean       Std     AggFn
StudentID
U1         0.0000  0.000  0.000  0.000000  0.000000  0.000000
U2         0.3333  0.334  0.334  0.333767  0.000330  0.333767
U3         0.5000  0.500  0.500  0.500000  0.000000  0.500000
U4         0.6667  0.666  0.666  0.666233  0.000330  0.666233
U5         1.0000  1.000  1.000  1.000000  0.000000  1.000000
U6         0.2000  0.250  0.550  0.333333  0.154560  0.349337
U7         0.6764  0.300  0.524  0.500133  0.154589  0.500122
U8         0.4500  0.750  0.800  0.666667  0.154560  0.650663
U9         0.0000  0.250  0.750  0.333333  0.311805  0.382782
U10        0.6299  0.800  0.070  0.499967  0.311862  0.499976
U11        0.2500  0.750  1.000  0.666667  0.311805  0.617218
U12        0.0000  0.000  0.850  0.283333  0.400694  0.374096
U13        0.0000  0.092  0.908  0.333333  0.408083  0.402668
U14        0.0000  0.500  1.000  0.500000  0.408248  0.500000
U15        0.0900  0.910  1.000  0.666667  0.409417  0.597075
U16        1.0000  1.000  0.150  0.716667  0.400694  0.625904
U17        0.0000  0.000  1.000  0.333333  0.471405  0.414214
U18        1.0000  1.000  0.000  0.666667  0.471405  0.585786
U19        0.3700  0.420  0.710  0.500000  0.149889  0.500000

In [2]:
students_transformer.show_ranking()

          Rank    Math    Bio    Art
StudentID
U5           1  1.0000  1.000  1.000
U4           2  0.6667  0.666  0.666
U8           3  0.4500  0.750  0.800
U16          4  1.0000  1.000  0.150
U11          5  0.2500  0.750  1.000
U15          6  0.0900  0.910  1.000
U18          7  1.0000  1.000  0.000
U7           8  0.6764  0.300  0.524
U19          9  0.3700  0.420  0.710
U14         10  0.0000  0.500  1.000
U3          11  0.5000  0.500  0.500
U10         12  0.6299  0.800  0.070
U17         13  0.0000  0.000  1.000
U13         14  0.0000  0.092  0.908
U9          15  0.0000  0.250  0.750
U12         16  0.0000  0.000  0.850
U6          17  0.2000  0.250  0.550
U2          18  0.3333  0.334  0.334
U1          19  0.0000  0.000  0.000

In [ ]:
students_transformer.plot()